hr{
    background-color: #fff;
    height: 2px;
}

ol{
    padding-right: 40px;
}

#chalkBoard{
    min-width: 330px;
    width: 100%;
    max-width: 1000px;
    height: 500px;
    border: 6px solid #c19b6c;
    background-color: #3b653d;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-around;
}

#rules-container{
    min-width: 15%;
    max-width: 33%;
    padding-right: 1em;
}

#eraser{
    position: absolute;
    width: 75px;
    height: 15px;
    bottom: 0;
    right: 5%;
}

#eraser-top{
    background-color: #000;
    position: relative;
    width: 100%;
    height: 5px;
    padding: 0 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#eraser-bottom{
    background-color: gray;
    position: relative;
    width: 100%;
    height: 10px;
    margin: 0 5px;
}

#score-area{
    height: 100px;
    width: 100%;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-top: 1px solid #fff;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
}

#player-one-score-container,
#player-two-score-container{
    display: flex;
    flex-wrap: wrap;
}

#player-one-score-container h5,
#player-two-score-container h5{
    width: 100%;
    font-size: 20px;
    margin: 0;
    margin-bottom: 0.25em;
    padding: 0;
    border-bottom: 2px solid #fff;
}

#player-one-score-container span,
#player-two-score-container span{
    font-size: 15px;
    margin: 0 0.5em;
    display: block;
    width: 100%;
}

@media only screen and (max-width: 470px) {
    #play-area{
        width: 50%;
    }
}